.App {
  text-align: center;
}

body {
  background-image: url('./assets/portfolio-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.profile-img {
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  border: 2px solid #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;    
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Header {
  display: flex;
  justify-content: left;
  font-size: 15px;
}

.App-Contact{
  display: flex;
  flex-direction:column;
  align-items: left;
  justify-content: left;
  font-size: 15px;
}
 
.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  align-items: left;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.PetConnectPic {
  max-width: 300px;
  max-height: 300px;
}